* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: #7c7976;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

header ul li {
    display: inline;
    margin-right: 5px;
}

header .container .header-left {
    display: flex;
    align-items: center;

}

header ul li a,
#profile {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    font-weight: normal;
}

header ul li a:hover, 
#profile:hover {
    text-decoration: underline;
}

header h1 img {
    height: 50px;
    margin-right: 35px;
}

@media screen and (max-width: 586px)  {
    header h1 img {
        height: 40px;
        margin-right: 35px;
    }
}


/* MAIN */

#best-animes {
    margin-bottom: 35px;
}

#best-animes h2,
#mangas h2 {
    margin: 40px 0 20px 0;
    font-weight: normal;
    font-size: 30px;
}

.anime-list,
.mangas-list {
    border-top: 5px solid #2abdbb;
    padding: 20px 0;
}

.anime-list ul li img,
.mangas-list ul li img {
    height: 350px;
} 

.anime-list ul li p,
.mangas-list ul li p {
    font-size: 18px;
    font-weight: bold;
}

.anime-list ul li,
.mangas-list ul li{
    display: inline;
}

.anime-list ul,
.mangas-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 1004px)  {
    .anime-list ul li img,
    .mangas-list ul li img {
    height: 250px;
} 

.anime-list ul li p,
.mangas-list ul li p {
    font-size: 11px;
    font-weight: bold;
}

.anime-list ul,
.mangas-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

}

/* NEWS */

#news h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 5px solid #f47521;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.articles article {
    display: inline-flex;
    flex-wrap: wrap;
    width: 49%;
    height: 250px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    padding: 10px;
}

.articles article .text {
    display: flex;
    padding: 10px 0;
}

.articles article .text a {
    text-decoration: none;
    color: #f47521;
    font-weight: bold;
}

.articles article .text p {
    font-size: 20px;
}

.articles article .text a:hover {
    text-decoration: underline;
}

.articles article .text img {
    margin-right: 8px;
    height: 13vh;
}

.articles article h4 {
    font-size: 20px;
}

@media screen and (max-width: 1004px)  {
    .articles article .text {
        display: flex;
        padding: 10px 0;
    }

    .articles article {
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 5px;
        border: 1px solid lightgrey;
        padding: 10px;
    }

}

@media screen and (max-width: 583px)  {
    .articles article .text p {
        font-size: 14px;
    }
}

/* MANGAS */

.mangas-list ul {
    flex-wrap: wrap;
}

.mangas-list ul li{
    margin-bottom: 15px;
} 


/* MENSAGEM */

#questions {
    text-align: center;
}
.questions-title {
    margin-top: 45px;
    margin-bottom: 30px;
}

#questions form input,
#questions form textarea,
#questions form button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    resize: none;
    border: 1px solid black;
}

#questions form button {
    background-color: #f47521;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#questions form button:hover {
    background-color: #f19252;
}

#questions form textarea {
    height: 200px;
}

/* FOOTER */

footer p {
    text-align: center;
    padding: 30px;
    background-color: #7c7976;
    color: #fff;
    margin-top: 30px;
}